h1{
    text-align: center;
}
 
img{
    width: 100%;
}

p{
    text-align: justify;
    
}
h3{
    text-align: center;
}

a{
    text-decoration: linen;
}

.abc{
    text-decoration: underline;
}





